@import "tailwindcss";

body {
  @apply bg-black text-[#F5F5F5];
  font-family: "Satoshi", sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

/* di file global.css atau index.css kamu */
.split-gradient {
  background: linear-gradient(to right, #c0c0c0, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.split-gradient span {
  background: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}