@import "tailwindcss";

body {
  @apply bg-black text-[#F5F5F5];
  font-family: "Satoshi", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* di file global.css atau index.css kamu */
.split-gradient {
  background: linear-gradient(to right, #c0c0c0, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.split-gradient span {
  background: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flip-btn {
  position: relative;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
  perspective: 500px;
  overflow: hidden;
  white-space: nowrap; /* 🔑 kunci teks */
  min-width: max-content;
}

/* default label behavior */
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform, opacity;
}

.label-front {
  transform: translateZ(1px);
}

.label-back {
  position: absolute;
  inset: 0;
  transform: translateZ(1px);
}
